<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="sidebar">
        <header>MadServ</header>
        <ul>
            <li><a href="#"><i class="fa fa-fw fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>Statistics</a></li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
            <li><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i>blah</a></li>
        </ul>
    </div>    
</body>
</html>